@{
    ViewBag.Title = "Boncuk";
}
<h3>Home page</h3>
<div class="list-group">

    <a asp-controller="Boncuk" asp-action="Detail" asp-route-id="Boncuk-1">
        View Boncuk-1
    </a>

    <a asp-controller="Boncuk" asp-action="List">
        View Boncuks
    </a>

    <a asp-controller="Home" asp-action="About">
        About Us
    </a>
</div>